/*banner区 轮播*/
.banner .carousel-indicators{
    bottom: 0px;
    left: 90%;
}
.banner .carousel-inner img{
    width: 100%;
}
.banner .carousel-indicators .active{
    background-color: #fb7299;
}
.banner .carousel-indicators li{
    border: none;
    background: #fff;
}
/*nav区*/
nav{
    width: 100%;
    height: 70px;
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav .nav-list{}
nav .nav-list .nav-list-img{
    margin:0px auto;
    width: 30px;
    height: 28px;
    background: url("../images/index-nav2.png") no-repeat;
}
nav .nav-list .nav-list-text{
    margin-top: 6px;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    color: #333;
}
nav div:nth-child(2) .nav-list-img{
    background-position: 0 -28px;
}
nav div:nth-child(3) .nav-list-img{
    background-position: 0 -56px;
}
nav div:nth-child(4) .nav-list-img{
    background-position: 0 -84px;
}
nav div:nth-child(5) .nav-list-img{
    background-position: 0 -112px;
}
/*section直播区样式*/
section{
    background: #eaeaea;
    padding: 12px;
}
section .sec-header{
    width: 100%;
    height: 20px;
    margin-bottom: 14px;
}
.sec-header .sec-title img{
    margin-right: 8px;
}
.sec-header .sec-title p{
    font-size: 14px;
    line-height: 20px;
    color: #333;
}.sec-header .sec-more{
     font-size: 14px;
     line-height: 20px;
     color: #333;
 }
.sec-header .sec-more a{
    color: #333;
}
.sec-header .sec-more span{
    color: #ff7299;
}
.sec-header .sec-more i{
    width: 8px;
    height: 8px;
    margin-left: 4px;
    margin-top: 6px;
    display: block;
    float: right;
    border-bottom: 1px solid #333;
    border-right: 1px solid #333;
    transform:rotate(-45deg);
}
.sec-body{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.sec-body .sec-room{
    width: 160px;
    box-shadow: 2px 3px 2px #d2d2d2;
    margin-bottom: 18px;
    background: #fafafa;
}
.sec-room .sec-room-hearder{
    background: #eaeaea;
}
.sec-room .sec-room-hearder img{
    width: 100%;
    border-radius: 4px;
}
.sec-room .sec-room-body{
    padding: 10px 0 2px 0;
}
.sec-room .sec-explain{
    margin: 0 8px;
    font-size: 14px;
    height: 34px;
    line-height: 1.2;
    overflow: hidden;
    color: #333;
}
.sec-room .sec-explain span{
    color: #fb7299;
}
.sec-room .sec-bottom{
    margin: 10px;
}
.sec-room .sec-bottom .sec-name{
    font-size: 12px;
    line-height: 12px;
    color: #999;
}
.sec-room .sec-bottom .sec-number{
    font-size: 12px;
    line-height: 12px;
    color: #999;
}
.sec-room .sec-bottom .sec-number i{
    display: block;
    float: left;
    width: 15px;
    height: 10px;
    margin-right: 2px;
    margin-top: 1px;    /*微调*/
    background: url("../images/yan.png") no-repeat;
}
.sec-footer .sec-still-more a{
    width: 108px;
    height: 30px;
    line-height: 30px;
    border-radius: 4px;
    box-shadow: 2px 3px 2px #d2d2d2;
    color: #333;
    text-align: center;
    background: #fafafa;
}
.sec-footer .sec-still-renovate a{
    height: 30px;
    line-height: 30px;
    color: #333;
}
.sec-footer .sec-still-renovate img{
    display: inline-block;
    margin-left: 4px;
}