*{
    box-sizing: border-box;
}
body, div, dl, dt, dd, ul, li, h1, h2,
h3, h4, h5, h6, input, form, a, p, textarea{
    margin: 0;
    padding: 0;
    font-family: "Microsoft YaHei",Arial, sans-serif ;
}
ol, ul, li{
    list-style: none;
}
a{
    text-decoration: none;
    display: block;
    color: #fff;
}
a:hover{
    color: #fff;
    text-decoration: none;
}
img{
    border: none;
    display: block;
}
.leftf{
    float: left;
}
.rightf{
    float: right;
}
/*IE下清除浮动*/
.clearf{
    zoom: 1;
}
/*其他浏览器下清除浮动*/
.clearf:after{
    display: block;
    clear: both;
    content: "";
    visibility: hidden;
    height: 0;
}